out.txt
.idea
out
damped_error.txt
damped_out.txt
analytic.cpython-39.pyc
*.iml
ovito.txt
mission_out.txt
distance_out.txt
velocity_out.txt
sweep_distance_out.txt
sweep_mission_out.txt
sweep_velocity_out.txt
v_mission_out.txt
travel_times.txt
*.png
*.DS_Store
